body {
	font-family: Arial;
	font-size: 120%;
}
.big {
	font-size: 120%;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
	margin-right: 0px;
}
.graphPlaceholder {
	margin: 5px;
}
.graphContainer{
	margin-top: 5px;
}
